@import "tailwindcss";

:root{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
input{
  height: 2rem;
  width:20rem;
  border: 2px;
  background-color: lavender;
  border-radius: 3px;
  outline: none;
  padding: 3px;
}

button{
  background-color: pink;
  width: 12rem;
  height:2rem;
  color: white;
  font-weight: 500;
  border-radius: 8px;

}